.sidebar > .sidebar-links > li > a.sidebar-link {
  font-size: 1.02em!important;
  line-height: 1.2!important;
  font-weight: 500!important;
  margin: 0 0.6rem 0 0.6rem!important;
  padding: 0.35rem 0.5rem 0.35rem 0.5rem!important;
}

a.sidebar-link {
  border-radius: 0.1em!important;
}

.custom-block.tip {
  background-color: #fdf8ec!important;
  border-color: #F4D491!important;
}

.custom-block.tip .custom-block-title {
  color: darken(#F4D491, 20%)!important;
}

.custom-block.warning {
  background-color: #f9e5d5!important;
  border-color: #f59f88!important;
}

.custom-block.warning .custom-block-title {
  color: darken(#f59f88, 20%)!important;
}

.custom-block.danger {
  background-color: #ffe6e6a8!important;
  border-color: #cc000094!important;
}

.custom-block.danger .custom-block-title {
  color: darken(#cc000094, 20%)!important;
}

#posts .post-list .ant-row > div .ant-list-item {
  display: flex;
}
@media screen and (max-width: 480px) {
  #posts .post-list .ant-row>div .ant-list-item .ant-list-item-extra {
    margin: auto!important;
  }
}

#markdown a {
  text-shadow: none;
}

#post {
  max-width: 1000px;
}

#posts .post-list .ant-row>div .ant-list-item .ant-list-item-extra {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}